<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h1>Addition Question</h1>
    
    <p>Solve the following addition problem:</p>
    
    <form method="POST" action="{{ url_for('math.math_questions', qtype=qtype, start_dt=start_dt) }}">
        <p>{{ question.question }}</p>
        <input type="text" name="user_answer" required>
        <button type="submit">Submit</button>
    </form>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

</body>
</html>